.env
.env.*
!.env.example

*.sqlite
*.rar
*.zip

node_modules/
vendor/
artifacts/

bootstrap/cache/*.php

storage/app/*
!storage/app/.gitkeep
storage/app/private/*
!storage/app/private/.gitkeep
storage/framework/cache/*
!storage/framework/cache/.gitkeep
storage/framework/cache/data/*
!storage/framework/cache/data/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
storage/logs/*
!storage/logs/.gitkeep

public/uploads/
public/storage/
public/.well-known/acme-challenge/*

.DS_Store
Thumbs.db

desktop/snap-saver/截图存图助手配置.json
desktop/snap-saver/截图存图助手错误日志.txt
